@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;    
    padding: 0;
    border: 1px none black;
}

.container {
   max-width: 757px;
   margin: auto; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #fff;
  color: #0f141e;
}

.table {
	width: 100%;
	margin-bottom: 40px;
	border-collapse: collapse; 

}
.table th {
	font-weight: bold;
	padding: 5px;
	border: none;
   text-align: left;
   color: #fff;
   letter-spacing: 2px;
   background:#095a9b;

}
.table td {
	border: 1px solid #dddddd;
	padding: 7px;
   width: 0px;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}

.table tr:hover td {
	background: #dddddd;
}

a {
  color: #095a9b;
  display: block;
  font-weight:bold;
  padding: 10px 10px 10px 10px;
  margin: 20px 10px 20px 10px;
}

b{
    font-weight:bold;
}

.box{
    display:inline-block ; 
    box-sizing: border-box;
    margin-bottom: 30px;
}
 
.w30{
   width: 30%;
}

.w70{
    width: 70%;
 }

.box1{
    display: flex; 
    box-sizing: border-box;
}

 IMG.displayed{
    display: block;
    width: 150px;
    margin: auto;
 }

 IMG.click-image{
    margin-left: 5px;
    margin-top: 60px;
 }

 .text-center{
    text-align: center;
 }

 .text-left{
   text-align: left;
}

 .text-red{
   color: red;
   font-weight:bold;
}

 h2{
    color: #fff;    
    background-color: #095a9b;
    margin-bottom: 20px;
    border-style: solid;
    text-align: center;
    letter-spacing: 2px;
 }

.main-header{
   margin-top: -20px;
   color: black;
   background-color: #fff;
   border-style: none;
}

.table-header{
   margin-top: 20px;
   margin-bottom: 0px;
}

.top-header{
   display: block;
   position: absolute;
   margin-top: 100px;
   margin-left: 10px;
   border: none;
   z-index: 3;
   width: 200px;
   height: 100px;
   padding-top: 25px;
}

p{
    color: #0f141e;    
    margin-top: 10px;
    text-align:justify;
 }

 .btn {
   border: solid;
   cursor: pointer;
 }

 .box-center{
   margin: auto;
   display: flex;
 }
 
 .btn:hover {
   border: solid;
   background-color: #095a9b;
   color: #fff;    
  
 }

 .text-spacing2{
   letter-spacing: 2px;
 }

 .text-spacing1{
   letter-spacing: 1px;
 }
